
<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <ingridient-form id="{{id}}"></ingridient-form>

    </div>
    <div class="col-lg-2"></div>
</div>
