<!DOCTYPE html>
<html ng-app="app">
<head>
  <base href="/">
  <meta name="fragment" content="!"/>
  <meta charset="UTF-8">
  <title ng-bind="MetaTags.title">Cocktails</title>
  <meta name="description" content="{{MetaTags.description}}">
  <meta name="keywords" content="{{MetaTags.keywords}}">
  <meta ng-repeat="(key, value) in MetaTags.properties" property="{{key}}" content="{{value}}" >
  <meta name="prerender-status-code" content="{{MetaTags.prerender.statusCode}}">
  <meta name="prerender-header" ng-if="MetaTags.prerender.header" content="{{MetaTags.prerender.header}}">

  <link rel="stylesheet" href="/build/vendor.css">
  <link rel="stylesheet" href="/build/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <app-header></app-header>
  <!-- <div class="ng-view"></div> -->
  <div ui-view></div>
</body>
<script src="/build/vendor.js"></script>
<script src="/build/app.js"></script>
<script src="/static/angular-seo.js"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script>
// io = io.connect();
// // Emit ready event.
// io.emit('ready')
// // Listen for the talk event.
// io.on('talk', function(data) {
//     alert(data.message)
// })
</script>
</html>
