@import 'styles/settings';

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

/* grid */
.grid {
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.grid li {
  overflow: hidden;
  position: relative;
  float: left;
  height:200px;
  font-size: 12px;
  line-height: 1.5;
  max-height: 270px;
  padding: 0 10px;
  margin: 0 -1px 0 0;
  width: 16.6666667%;
  /* Fallback */
  // width: -webkit-calc(100% / 5);
  // width: calc(100% / 5);
  width: 190px;
  border: 1px dashed #bdbdbd;
}
.grid li:nth-child(odd){
  // background: #e74d3c;
}
.grid li:nth-child(even){
  // background: #ee7f72;
}
.grid li .img-back{
  height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  opacity: 0.5;
}
.grid li .text-container{
  position: relative;
  z-index: 10;
}
.drag-holder{
  position: relative;
  overflow: hidden;
  background: #ececec;
  border: 5px dashed #cdcdcd;
  border-radius: 12px;
  padding: 35px;
  margin: 0 0 20px;
}
.as-sortable-hidden{
  background: #ce8483;
}
.as-sortable-placeholder{
  background: #ccc;
}
.as-sortable-placeholder,
.as-sortable-item{
  //float:left;
}
.as-sortable-dragging{
  position: absolute;
}

/* Application scss */
// @import 'app/components/seed-help/seed-help';
