<div class="container-fluid">
    <user-head></user-head>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          <user-sidebar-profile></user-sidebar-profile>
      </div><!--/col-3-->
    	<div class="col-sm-9">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="">Home</a></li>
            <li><a ui-sref="userSettings">Settings</a></li>
          </ul>

          <div class="tab-content">
              <div class="tab-pane active" id="home">
                  <hr>

                  <div class="panel panel-default" ng-repeat="bar in bars">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ bar.title }}</h3>
                    </div>
                    <div class="panel-body">
                      {{ bar.description }}
                      <p><a ui-sref="userBarView({id: bar._id})">View filter results</a></p>
                    </div>
                  </div>
                  <a ui-sref="userBarCreate" class="btn btn-success">Create New Bar</a>

                  <p class="alert alert-warning" ng-hide="bars.length">You haven't any bars. But you can create them. Try <a ui-sref="userBarCreate"><strong>here</strong></a></p>
              </div>
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
