<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>{{ cocktail.title }} <small><a ui-sref="adminCocktailEdit({id: cocktail._id})" show-by-role="admin">edit</a></small></h2>
        <small>Author: {{cocktail.author.local.firstName}} {{cocktail.author.local.lastName}}</small>
        <p>Categories: <span ng-repeat="cat in cocktail.categories">{{cat.title}}</span></p>
        <p>{{ cocktail.description }}</p>
        <div class="row">
            <img ng-repeat="image in cocktail.images" ng-src="{{image}}" width="200" class="img-thumbnail" />
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
