<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>{{ cocktail.title }}</h2>
        <p>{{ cocktail.title }}</p>
        <p><em>Author: {{ cocktail.author }}</em></p>
    </div>
    <div class="col-lg-2"></div>
</div>
