
<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <cocktail-category-form id="{{id}}"></cocktail-category-form>

    </div>
    <div class="col-lg-2"></div>
</div>
