<div>
  <ul class="list-group">
    <li class="list-group-item text-muted">Profile</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> {{ join }}</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> {{ lastLogin }}</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> {{ user.user.local.firstName }} {{ user.user.local.lastName }}</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item text-muted">Your Friends <span class="pull-right glyphicon glyphicon-info-sign" aria-hidden="true" uib-tooltip-html="friendLegend" tooltip-placement="left"></span></li>
    <li class="list-group-item" ng-if="user.user.friends.length">
      <a ui-sref="viewUser({id: friend.id._id})" class="btn btn-sm" ng-class="{'btn-default': friend.status == 3, 'btn-primary': friend.status == 2, 'btn-warning': friend.status == 1, 'btn-danger': friend.status == 0}" ng-repeat="friend in user.user.friends">{{ friend.id.local.firstName }} {{ friend.id.local.lastName }}</a>
    </li>
    <li class="list-group-item text-muted" ng-if="!user.user.friends.length">You don't have friends :(</li>
  </ul>
</div>
