<form class="form-inline">
  <fieldset>

    <div class="form-group">
      <ui-select class="ui-select-required" ng-model="filter.categories" theme="bootstrap" ng-disabled="disabled" on-select="onChange()" on-remove="onChange()" style="min-width: 200px;" multiple>
       <ui-select-match placeholder="{{'DASHBOARD_SEARCH_CATEGORIES' | translate}}" class="ui-select-match">{{$item.title[$root.lang]}}</ui-select-match>
       <ui-select-choices repeat="category._id as category in categories"
         refresh="getCategories($select.search)"
         refresh-delay="0" class="ui-select-choices">
         <div ng-bind-html="category.title[$root.lang] | highlight: $select.search"></div>
       </ui-select-choices>
     </ui-select>
    </div>

    <div class="form-group">
      <ui-select class="ui-select-required" ng-model="filter.ingridients" theme="bootstrap" ng-disabled="disabled" on-select="onChange()" on-remove="onChange()" style="min-width: 200px;" multiple>
       <ui-select-match placeholder="{{'DASHBOARD_SEARCH_INGRIDIENTS' | translate}}" class="ui-select-match">{{$item.title[$root.lang]}}</ui-select-match>
       <ui-select-choices repeat="ingridient._id as ingridient in ingridients"
         refresh="getIngridients($select.search)"
         refresh-delay="0" class="ui-select-choices">
         <div ng-bind-html="ingridient.title[$root.lang] | highlight: $select.search"></div>
       </ui-select-choices>
     </ui-select>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" ng-model="filter.q" placeholder="{{'DASHBOARD_SEARCH_BY_TITLE' | translate}}" ng-change="onChange()">
    </div>

    <div class="form-group">
      <a href="" class="btn btn-sm btn-default" ng-click="clearFilter()">{{'DASHBOARD_CLEAR' | translate}}</a>
    </div>

  </fieldset>
</form>
