<div>
  <h2>{{ title }}</h2>

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

  <form class="form-horizontal" role="form" ng-submit="submit()" enctype="multipart/form-data">
   <div class="form-group" ng-class="{'has-success': form.firstName, 'has-error': !form.firstName}">
     <label class="control-label col-sm-2" for="fname">First Name:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="fname" placeholder="First Name" ng-model="form.firstName">
     </div>
   </div>
   <div class="form-group" ng-class="{'has-success': form.lastName, 'has-error': !form.lastName}">
     <label class="control-label col-sm-2" for="lname">Last Name:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="lname" placeholder="Last Name" ng-model="form.lastName">
     </div>
   </div>
   <div class="form-group" ng-class="{'has-success': form.email, 'has-error': !form.email}">
     <label class="control-label col-sm-2" for="email">Email:</label>
     <div class="col-sm-10">
       <input type="email" class="form-control" id="email" placeholder="Email" ng-model="form.email">
     </div>
   </div>

   <div class="form-group">
     <label class="control-label col-sm-2" for="phone">Phone:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="phone" placeholder="Phone" ng-model="form.phone">
     </div>
   </div>
   <div class="form-group">
     <label class="control-label col-sm-2" for="location">Location:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="location" placeholder="Location" ng-model="form.location">
     </div>
   </div>
   <div class="form-group">
     <label class="control-label col-sm-2" for="mobile">Mobile:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="mobile" placeholder="Mobile" ng-model="form.mobile">
     </div>
   </div>
   <div class="form-group" ng-class="{'has-success': form.role, 'has-error': !form.role}">
     <label class="control-label col-sm-2" for="role">Role:</label>
     <div class="col-sm-10">
       <select ng-model="form.role" ng-options="role.value as role.label for role in roles" class="form-control" id="role"></select>
     </div>
   </div>

   <div class="form-group" ng-class="{'has-error': !form.password && !id}">
     <label class="control-label col-sm-2" for="password">Password:</label>
     <div class="col-sm-10">
       <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password">
     </div>
   </div>
   <div class="form-group" ng-class="{'has-error': !form.passwordVerify && !id}">
     <label class="control-label col-sm-2" for="passwordVerify">Password Verify:</label>
     <div class="col-sm-10">
       <input type="password" class="form-control" id="passwordVerify" placeholder="Password Verify" ng-model="form.passwordVerify">
     </div>
   </div>

   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-default">Submit</button>
       <a href="" ng-click="onDelete()" ng-if="id" class="btn btn-danger">Delete</a>
     </div>
   </div>
  </form>

  <div class="panel panel-default" ng-if="registration.createdAt">
    <!-- Default panel contents -->
    <div class="panel-heading">Registration</div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Date: {{registration.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
      <li class="list-group-item">Code: {{registration.code}}</li>
    </ul>
  </div>

  <div class="panel panel-default" ng-if="forgotPassword.createdAt">
    <!-- Default panel contents -->
    <div class="panel-heading">Forgot Password</div>
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">Date: {{forgotPassword.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
      <li class="list-group-item">Code: {{forgotPassword.code}}</li>
    </ul>
  </div>
</div>
