<div class="container-fluid">
    <h1>List of all categories of cocktails</h1>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

    <form class="form-inline">
      <div class="form-group">
        <a ui-sref="adminCocktailCategoryCreate" class="btn btn-sm btn-success">Create New</a>
        <input type="text" class="form-control" placeholder="Type for search" ng-model="q">
      </div>
      <div class="pull-right">
        <a href="" confirm-modal="" modal-options="{}" on-ok="onCategoriesRemove()" class="btn btn-sm btn-danger">Remove All</a>
      </div>
    </form><br>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th ng-click="doSort('_id')">#ID</th>
          <th ng-click="doSort('title')">Title</th>
          <th ng-click="doSort('description')">Description</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="category in categories">
          <td>{{category._id}}</td>
          <td>{{category.title[$root.lang]}}</td>
          <td>{{category.description[$root.lang]}}</td>
          <td>
            <a ui-sref="adminCocktailCategoryEdit({id:category._id})" class="btn btn-sm btn-warning">Edit</a>
            <a href="" class="btn btn-sm btn-danger" confirm-modal="" modal-options="{}" on-ok="onCategoryRemove(category)">Delete</a>
          </td>
        </tr>
        <tr ng-if="!categories.length"><td colspan="4" class="text-center">Data not found</td></tr>
    </table>

    <uib-pagination total-items="total" ng-model="currentPage" ng-change="tableUpdate()"></uib-pagination>
</div>
