<div class="container-fluid">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form class="form-horizontal" ng-action="submit()">
            <div class="form-group">
                <h3 class="text-center">Change Password</h3>
            </div>
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">New Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="email" placeholder="password" ng-model="form.password">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Verify Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="email" placeholder="password" ng-model="form.passwordVerify">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Change password</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>
