<div class="container-fluid">
    <dashboard-filter-form data="filter"></dashboard-filter-form>
    <br>
    <div infinite-scroll='loadMode()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
        <ul class="grid">
            <li ng-repeat="cocktail in cocktails">
              <img ng-show="cocktail.images.length" ng-src="{{cocktail.images[0].thumb200}}" class="img-back" />
              <div class="text-container">
                <h3><a ui-sref="dashboardCocktailView({id: cocktail._id})">{{ cocktail.title[$root.lang] }}</a></h3>
                <small>{{'AUTHOR' | translate}}: <a ui-sref="viewUser({id: cocktail.author._id})">{{ cocktail.author.local.firstName }} {{ cocktail.author.local.lastName }}</a></small><br>
                <small>{{'CATEGORIES' | translate}}: <span ng-repeat="cat in cocktail.categories">{{cat.title[$root.lang]}}, </span></small><br>
                <small>{{'INGRIDIENTS' | translate}}: {{cocktail.ingridients.length}}</small><br>
                <p>{{ cocktail.description[$root.lang] | limitTo: 60 }}{{cocktail.description.length > 60 ? '...' : ''}}</p>
              </div>
            </li>
        </ul>
    </div>
    <p ng-hide="cocktails.length">{{"COCKTAILS_NOT_FOUND" | translate}}</p>
</div>
