<div>
  <h2>{{ title }}</h2>

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

  <form class="form-horizontal" role="form" ng-submit="submit()" enctype="multipart/form-data">
   <div class="form-group">
     <label class="control-label col-sm-2" for="email">Title:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="title" placeholder="Title" ng-model="form.title[$root.lang]">
     </div>
   </div>
   <div class="form-group">
     <label class="control-label col-sm-2" for="pwd">Description:</label>
     <div class="col-sm-10">
       <textarea class="form-control" rows="3" ng-model="form.description[$root.lang]" placeholder="Description"></textarea>
     </div>
   </div>

   <div class="form-group">
     <label class="control-label col-sm-2" for="pwd">Categories:</label>
     <div class="col-sm-10">
       <ui-select multiple ng-model="form.categories" theme="bootstrap" ng-disabled="disabled">
        <ui-select-match placeholder="Select categories..." class="ui-select-match">{{$item.title[$root.lang]}}</ui-select-match>
        <ui-select-choices repeat="category in categories"
          refresh="getCategories($select.search)"
          refresh-delay="0" class="ui-select-choices">
          <div ng-bind-html="category.title[$root.lang] | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
     </div>
   </div>

   <div ng-repeat="data in form.ingridients" class="row">
     <div class="col-sm-1"><label>{{$index + 1}}</label></div>
     <div class="col-sm-10">
       <div class="form-group">
         <label class="control-label col-sm-2" for="pwd">Ingridients:</label>
         <div class="col-sm-10">
           <ui-select ng-model="data.ing" theme="bootstrap" ng-disabled="disabled">
            <ui-select-match placeholder="Select ingridient..." class="ui-select-match">{{$select.selected.title[$root.lang]}}</ui-select-match>
            <ui-select-choices repeat="ingridient in ingridients"
              refresh="getIngridients($select.search[$root.lang])"
              refresh-delay="0" class="ui-select-choices">
              <div ng-bind-html="ingridient.title[$root.lang] | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
         </div>
       </div>
       <div class="form-group">
         <label class="control-label col-sm-2" for="pwd">Description:</label>
         <div class="col-sm-10">
           <textarea class="form-control" ng-model="data.description"></textarea>
         </div>
       </div>
     </div>
     <div class="col-sm-1">
       <a href="" ng-click="removeIngridient($index)" class="btn btn-sm btn-danger">remove</a>
     </div>
   </div>
   <div class="form-group">
     <div class="pull-right">
       <a href="" ng-click="addIngridient()" class="btn btn-sm btn-primary">Add ingridient</a>
     </div>
   </div>

   <div class="form-group">
     <div data-as-sortable="dragControlListeners" data-ng-model="form.images">
       <span data-ng-repeat="image in form.images" data-as-sortable-item>
         <span data-as-sortable-item-handle>
           <a href="" ng-click="removeImage($index)">remove</a>
           <img ng-src="{{image.thumb200}}" class="img-thumbnail" width="150" height="150"/>
         </span>
       </span>
     </div>
   </div>

  <div class="drag-holder" ngf-select="uploadFiles($files)" multiple="multiple">
    <p>You can Upload or Drop files here!</p>
    <span ng-hide="files">No files selected</span>
    <div ng-show="files">
      {{files.length}} files selected

      <div data-as-sortable="dragControlListeners" data-ng-model="files">
        <span data-ng-repeat="file in files" data-as-sortable-item>
          <span data-as-sortable-item-handle>
            <a href="" ng-click="removeFile($index)">remove</a>
            <img ngf-src="file" class="img-thumbnail" width="150" height="150"/>
          </span>
        </span>
      </div>

    </div>
    <div ngf-no-file-drop>File Drag/drop is not supported</div>
  </div>

   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-default">Submit</button>
       <a href="" confirm-modal="" modal-options="{}" on-ok="onDelete()" ng-if="id" class="btn btn-danger">Delete</a>
     </div>
   </div>
  </form>
</div>
