<div class="container-fluid">
    <user-head></user-head>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          <user-sidebar-profile></user-sidebar-profile>
      </div><!--/col-3-->
    	<div class="col-sm-9">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a ui-sref="user">Home</a></li>
            <!-- <li><a ui-sref="userMessages">Messages</a></li> -->
            <li><a ui-sref="userSettings">Settings</a></li>
          </ul>

          <div class="tab-content">
             <div class="tab-pane active" id="my-bars">
               <div class="panel panel-default">
                 <div class="panel-body">
                   <ul class="nav nav-pills">
                     <li role="presentation"><a ui-sref="user">View All Bars</a></li>
                     <li role="presentation"><a ui-sref="userBarCreate">Create New Bar</a></li>
                   </ul>
                 </div>
               </div>

               <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

               <div class="pull-right">
                 <a href="" ng-click="onUpdateBar()" class="btn btn-sm btn-primary">Save Current</a>
                 <a ui-sref="userBarEdit({id: bar._id})" class="btn btn-sm btn-warning">Edit</a>
                 <a href="" ng-click="onDeleteBar()" class="btn btn-sm btn-danger">Delete</a>
               </div>
               <h1>{{bar.title}} bar</h1>
               <small><em>{{bar.description}}</em></small>
               <div class="ingridients-holder">
                 <label>Ingridients:</label>
                 <span class="btn btn-sm btn-primary" ng-repeat="ing in bar.ingridients">{{ing.title}}</span>
                 <ui-select multiple ng-model="bar.ingridients" theme="bootstrap" ng-disabled="disabled" on-select="onChange()" on-remove="onChange()" >
                  <ui-select-match placeholder="Select ingridients..." class="ui-select-match">{{$item.title}}</ui-select-match>
                  <ui-select-choices repeat="ing in ingridients"
                    refresh="getIngridients($select.search)"
                    refresh-delay="0" class="ui-select-choices">
                    <span ng-bind-html="ing.title | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
               </div>
               <hr>

               <div class="results">
                 <div infinite-scroll='loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                     <ul class="grid">
                         <li ng-repeat="cocktail in cocktails">
                           <img ng-show="cocktail.images.length" ng-src="{{cocktail.images[0].thumb200}}" class="img-back" />
                           <div class="text-container">
                             <h3><a ui-sref="dashboardCocktailView({id: cocktail._id})">{{ cocktail.title }}</a></h3>
                             <small>Author: {{ cocktail.author.local.firstName }} {{ cocktail.author.local.lastName }}</small><br>
                             <small>Categories: <span ng-repeat="cat in cocktail.categories">{{cat.title}}, </span></small><br>
                             <small>Ingridients: {{cocktail.ingridients.length}}</small><br>
                             <p>{{ cocktail.description | limitTo: 60 }}{{cocktail.description.length > 60 ? '...' : ''}}</p>
                           </div>
                         </li>
                     </ul>
                 </div>
               </div>

             </div>
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
