<div class="container-fluid">
    <h1>List of all cocktails</h1>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

    <form class="form-inline">
      <div class="form-group">
        <a ui-sref="adminCocktailCreate" class="btn btn-sm btn-success">Create New</a>
        <input type="text" class="form-control" placeholder="Type for search" ng-model="q">
      </div>
      <div class="pull-right">
        <a href="" confirm-modal="" modal-options="{}" on-ok="onCocktailsRemove()" class="btn btn-sm btn-danger">Remove All</a>
      </div>
    </form><br>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th ng-click="doSort('_id')">#ID</th>
          <th ng-click="doSort('title')">Title</th>
          <th ng-click="doSort('description')">Description</th>
          <th ng-click="doSort('categories')">Categories</th>
          <th ng-click="doSort('images')">Images</th>
          <th ng-click="doSort('ingridients')">Ingridients</th>
          <th ng-click="doSort('author')">Author</th>
          <th ng-click="doSort('createdAt')">CreatedAt</th>
          <th ng-click="doSort('updatedAt')">UpdatedAt</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cocktail in cocktails">
          <td>{{cocktail._id}}</td>
          <td>{{cocktail.title[$root.lang]}}</td>
          <td>{{cocktail.description[$root.lang]}}</td>
          <td>
            <ul class="pager">
              <li ng-repeat="category in cocktail.categories">
                <a ui-sref="adminCocktailCategoryEdit({id: category._id})">
                  {{category.title[$root.lang]}}
                </a>
              </li>
            </ul>
          </td>
          <td>{{cocktail.images.length}}</td>
          <td>{{cocktail.ingridients.length}}</td>
          <td>{{cocktail.author.local.firstName}} {{cocktail.author.local.lastName}}</td>
          <td>{{cocktail.createdAt | date : format}}</td>
          <td>{{cocktail.updatedAt | date : format}}</td>
          <td>
            <a ui-sref="adminCocktailView({id:cocktail._id})" class="btn btn-sm btn-default">View</a>
            <a ui-sref="adminCocktailEdit({id:cocktail._id})" class="btn btn-sm btn-warning">Edit</a>
            <a href="" class="btn btn-sm btn-danger" confirm-modal="" modal-options="{}" on-ok="onCocktailRemove(cocktail)">Delete</a>
          </td>
        </tr>
        <tr ng-if="!cocktails.length"><td colspan="10" class="text-center">Data not found</td></tr>
    </table>

    <uib-pagination total-items="total" ng-model="currentPage" ng-change="tableUpdate()"></uib-pagination>
</div>
