<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>{{user.local.firstName}} {{user.local.lastName}} <small><a ui-sref="adminUserEdit({id: user._id})">edit</a></small></h2>

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">User profile</div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item"><strong>Name: </strong> {{user.local.firstName}} {{user.local.lastName}}</li>
            <li class="list-group-item"><strong>Phone: </strong> {{user.local.phone}}</li>
            <li class="list-group-item"><strong>Mobile: </strong> {{user.local.mobile}}</li>

            <li class="list-group-item list-group-item-info"><strong>Email: </strong> {{user.local.email}}</li>
            <li class="list-group-item list-group-item-info"><strong>Role: </strong> {{user.local.role}}</li>

            <li class="list-group-item"><strong>Location: </strong> {{user.local.location}}</li>
            <li class="list-group-item"><strong>CreatedAt: </strong> {{user.local.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>

            <li class="list-group-item list-group-item-info"><strong>UpdatedAt: </strong> {{user.local.updatedAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
            <li class="list-group-item list-group-item-info"><strong>Last Login At: </strong> {{user.local.lastLoginAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
          </ul>
          <div class="panel-body">
            <a href="" class="btn btn-sm btn-primary" ng-click="onSendMessage()">Send message</a>
            <a href="" class="btn btn-sm btn-warning" ng-click="onAddToFriendList()" ng-if="addToFriendStatus == -1">Add to friend list</a>
            <a href="" class="btn btn-sm btn-warning" ng-click="onRemoveFromFriendList()" ng-if="addToFriendStatus == 0">Remove block</a>
            <a href="" class="btn btn-sm btn-warning" ng-click="onApproveFriend()" ng-if="addToFriendStatus == 1">Approve friend</a>
            <a href="" class="btn btn-sm btn-warning" ng-click="onRemoveFromFriendList()" ng-if="addToFriendStatus == 2">Remove friend request</a>
            <a href="" class="btn btn-sm btn-warning" ng-click="onRemoveFromFriendList()" ng-if="addToFriendStatus == 3">Remove from friend list</a>
            <a href="" class="btn btn-sm btn-danger" ng-click="onBlockedFriend()" ng-if="addToFriendStatus != 0">Block person</a>
          </div>
        </div>

        <div class="panel panel-default" ng-if="registration.createdAt">
          <!-- Default panel contents -->
          <div class="panel-heading">Registration</div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">Date: {{registration.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
            <li class="list-group-item">Code: {{registration.code}}</li>
          </ul>
        </div>

        <div class="panel panel-default" ng-if="forgotPassword.createdAt">
          <!-- Default panel contents -->
          <div class="panel-heading">Forgot Password</div>
          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item">Date: {{forgotPassword.createdAt | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
            <li class="list-group-item">Code: {{forgotPassword.code}}</li>
          </ul>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
