<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>{{ cocktail.title[$root.lang] }}</h2>
        <small>{{'AUTHOR' | translate}}: {{cocktail.author.local.firstName}} {{cocktail.author.local.lastName}}</small>
        <p>{{'CATEGORIES' | translate}}: <span ng-repeat="cat in cocktail.categories">{{cat.title[$root.lang]}} </span></p>
        <p>{{'INGRIDIENTS' | translate}}: <span ng-repeat="ing in cocktail.ingridients">{{ing.ing.title[$root.lang]}} </span></p>
        <p>{{ cocktail.description[$root.lang] }}</p>
        <div class="row">
            <img ng-repeat="image in cocktail.images" ng-src="{{image.global}}" width="200" class="img-thumbnail" />
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
