<div class="container-fluid">
    <user-head></user-head>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          <user-sidebar-profile></user-sidebar-profile>
      </div><!--/col-3-->
    	<div class="col-sm-9">
          <ul class="nav nav-tabs" id="myTab">
            <li><a ui-sref="user">Home</a></li>
            <!-- <li><a ui-sref="userMessages">Messages</a></li> -->
            <li class="active"><a href="">Settings</a></li>
            <!-- <li><a ui-sref="userBar">My bars</a></li> -->
          </ul>

          <div class="tab-content">
             <div class="tab-pane active" id="settings">
                  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>
                  <hr>
                  <form class="form" ng-submit="submit()" method="post" id="registrationForm">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" ng-model="form.firstName" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" ng-model="form.lastName" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" ng-model="form.phone" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="location"><h4>Location</h4></label>
                              <input type="text" ng-model="form.location" class="form-control" id="location" name="location"  placeholder="somewhere" title="enter a location">
                          </div>
                      </div>

                      <hr>

                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" ng-model="form.mobile" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group {{errors.email.className}}">
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" ng-model="form.email" ng-change="onCheckEmail()" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email."
                                uib-tooltip="{{errors.email.messages.join('\n')}}" />
                          </div>
                      </div>
                      <div class="form-group {{errors.email2.className}}">
                          <div class="col-xs-6">
                              <label for="email"><h4>Email Verify</h4></label>
                              <input type="email" ng-model="form.email2" ng-change="onCheckEmail()" class="form-control" name="email2" id="email" placeholder="you@email.com" title="enter your email."
                                uib-tooltip="{{errors.email2.messages.join('\n')}}" />
                          </div>
                      </div>

                      <div class="form-group {{errors.password.className}}">
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" ng-model="form.password" ng-change="onCheckPass()" class="form-control" name="password" id="password" placeholder="password" title="enter your password."
                                uib-tooltip="{{errors.password.messages.join('\n')}}" />
                          </div>
                      </div>

                      <div class="form-group {{errors.password2.className}}">
                          <div class="col-xs-6">
                              <label for="password2"><h4>Password Verify</h4></label>
                              <input type="password" ng-model="form.password2" ng-change="onCheckPass()" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2."
                                uib-tooltip="{{errors.password2.messages.join('\n')}}" />
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" ng-disabled="hideBtn"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              </div>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>
