<div class="container-fluid">
    <user-head></user-head>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
          <user-sidebar-profile></user-sidebar-profile>
      </div><!--/col-3-->
    	<div class="col-sm-9">
          <ul class="nav nav-tabs" id="myTab">
            <li><a ui-sref="user">Home</a></li>
            <li><a ui-sref="userSettings">Settings</a></li>
          </ul>

        </div><!--/col-9-->
    </div><!--/row-->
</div>
