<div class="container-fluid">
    <h1>DB Migrate</h1>

    <div class="col-sm-6">
      <form class="form-inline">
        <div class="form-group">
          <label><input type="checkbox" ng-model="checkAll" /> Check/Uncheck All</label>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in items">
              <label> <input type="checkbox" ng-model="form.items[item.value]" /> {{item.name}} </label>
            </li>
          </ul>
          <a href="" ng-click="onDownload()" class="btn btn-sm btn-success">Download</a>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <form class="form-inline">
        <div class="form-group">
          <div class="drag-holder" ngf-select="uploadFiles($files)" multiple="multiple">
            <p>You can Upload or Drop files here!</p>
            <span ng-hide="files">No files selected</span>
            <div ng-show="files">
              {{files.length}} files selected
            </div>
            <div ngf-no-file-drop>File Drag/drop is not supported</div>
          </div>
          <a href="" ng-click="onUpload()" class="btn btn-sm btn-success">Upload</a>
        </div>
      </form>
    </div>

</div>
