<div>
  <h2>{{ title }}</h2>

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

  <form class="form-horizontal" role="form" ng-submit="submit()" enctype="multipart/form-data">
   <div class="form-group">
     <label class="control-label col-sm-2" for="email">Title:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="title" placeholder="Title" ng-model="form.title[$root.lang]">
     </div>
   </div>
   <div class="form-group">
     <label class="control-label col-sm-2" for="pwd">Description:</label>
     <div class="col-sm-10">
       <textarea class="form-control" rows="3" ng-model="form.description[$root.lang]" placeholder="Description"></textarea>
     </div>
   </div>

   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-default">Submit</button>
     </div>
   </div>
  </form>
</div>
