<div class="container-fluid">
    <h1>List of all ingridients</h1>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

    <form class="form-inline">
      <div class="form-group">
        <a ui-sref="adminIngCreate" class="btn btn-sm btn-success">Create New</a>
        <input type="text" class="form-control" placeholder="Type for search" ng-model="q">
      </div>
      <div class="pull-right">
        <a href="" confirm-modal="" modal-options="{}" on-ok="onIngridientsRemove()" class="btn btn-sm btn-danger">Remove All</a>
      </div>
    </form><br>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th ng-click="doSort('_id')">#ID</th>
          <th ng-click="doSort('title')">Title</th>
          <th ng-click="doSort('description')">Description</th>
          <th ng-click="doSort('categories')">Categories</th>
          <th ng-click="doSort('images')">Images</th>
          <th ng-click="doSort('author')">Author</th>
          <th ng-click="doSort('createdAt')">CreatedAt</th>
          <th ng-click="doSort('updatedAt')">UpdatedAt</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ingridient in ingridients">
          <td>{{ingridient._id}}</td>
          <td>{{ingridient.title[$root.lang]}}</td>
          <td>{{ingridient.description[$root.lang]}}</td>
          <td>
            <ul class="pager">
              <li ng-repeat="category in ingridient.categories">
                <a ui-sref="adminIngCategoryEdit({id: category._id})">
                  {{category.title[$root.lang]}}
                </a>
              </li>
            </ul>
          </td>
          <td>{{ingridient.images.length}}</td>
          <td>{{ingridient.author.local.firstName}} {{cocktail.author.local.lastName}}</td>
          <td>{{ingridient.createdAt | date : format}}</td>
          <td>{{ingridient.updatedAt | date : format}}</td>
          <td>
            <a ui-sref="adminIngEdit({id:ingridient._id})" class="btn btn-sm btn-warning">Edit</a>
            <a href="" confirm-modal="" modal-options="{}" on-ok="onIngRemove(ingridient)" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        <tr ng-if="!ingridients.length"><td colspan="9" class="text-center">Data not found</td></tr>
    </table>

    <uib-pagination total-items="total" ng-model="currentPage" ng-change="tableUpdate()"></uib-pagination>
</div>
