<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><a ui-sref="dashboard">{{"COCKTAILS_BRAND" | translate}}</a></span>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <nav-link ng-repeat="item in navLinks"></nav-link>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="">{{locale}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="lang in locales"><a href="" ng-click="updateLocale(lang.id)">{{lang.name}}</a></li>
          </ul>
        </li>
        <!-- user section -->
        <li><a ui-sref="signup" is-auth>{{ "SIGNUP" | translate }}</a></li>
        <li><a ui-sref="login" is-auth>{{ "LOGIN" | translate }}</a></li>
        <li><a ui-sref="user" ng-if="$root.user.user._id" >{{ "ACCOUNT" | translate }} ({{$root.user.user.local.email}})</a></li>
        <li><a href="" logout is-auth="true">{{ "LOGOUT" | translate }}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <!-- admin section -->
  <div class="container-fluid  navbar-inverse" ng-if="$root.user && $root.user.user.local.role == 'admin'">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><a ui-sref="adminUsers">ADMIN</a></span>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a ui-sref="adminUsers" show-by-role="admin">Users <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="adminUserCreate" show-by-role="admin">Create User</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a ui-sref="adminCocktailList" show-by-role="admin">Cocktails <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="adminCocktailCreate" show-by-role="admin">Create cocktail</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="adminCocktailCategoryList" show-by-role="admin">Categories</a></li>
            <li><a ui-sref="adminCocktailCategoryCreate" show-by-role="admin">Create category</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a ui-sref="adminIngList" show-by-role="admin">Ingridients <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="adminIngCreate" show-by-role="admin">Create ingridient</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="adminIngCategoryList" show-by-role="admin">Categories</a></li>
            <li><a ui-sref="adminIngCategoryCreate" show-by-role="admin">Create category</a></li>
          </ul>
        </li>
        <li><a ui-sref="adminDbMigrate" show-by-role="admin">DB Migrate</a></li>
      </ul>
    </div>
  </div>
</header>
