<div class="container-fluid">
    <h1>All users</h1>


    <form class="form-inline">
      <div class="form-group">
        <a ui-sref="adminUserCreate" class="btn btn-sm btn-success">Create New</a>
        <input type="text" class="form-control" placeholder="Type for search" ng-model="q">
      </div>
    </form><br>

    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th ng-click="doSort('_id')">#ID</th>
          <th ng-click="doSort('local.firstName')">Full Name</th>
          <th ng-click="doSort('local.role')">Role</th>
          <th ng-click="doSort('local.email')">Email</th>
          <th ng-click="doSort('local.lastLoginAt')">Last Login</th>
          <th ng-click="doSort('local.createdAt')">CreatedAt</th>
          <th ng-click="doSort('local.updatedAt')">UpdatedAt</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{user._id}}</td>
          <td>{{user.local.firstName}} {{user.local.lastName}}</td>
          <td>{{user.local.role}}</td>
          <td>{{user.local.email}}</td>
          <td>{{user.local.lastLoginAt | date : format}}</td>
          <td>{{user.local.createdAt | date : format}}</td>
          <td>{{user.local.updatedAt | date : format}}</td>
          <td>
            <a ui-sref="adminUserView({id: user._id})" class="btn btn-sm btn-default">View</a>
            <a ui-sref="adminUserEdit({id: user._id})" class="btn btn-sm btn-warning">Edit</a>
            <a href="" ng-click="onUserAccess(user)" class="{{userAccess(user.local.status).className}}">{{userAccess(user.local.status).name}}</a>
            <a href="" confirm-modal="" modal-options="{}" on-ok="onDelete(user)" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        <tr ng-if="!users.length"><td colspan="8" class="text-center">Data not found</td></tr>
      </tbody>
    </table>

    <uib-pagination total-items="total" ng-model="currentPage" ng-change="tableUpdate()"></uib-pagination>
</div>
