<div class="container-fluid">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1 class="text-center">{{'SIGNUPFORM' | translate}}</h1>
      <hr>
      <form class="form" ng-submit="submit()" method="post" id="registrationForm">
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>
          <div class="form-group">
            <div class="col-xs-12">
              <label for="first_name"><h4>{{'FIRSTNAMEFIELD' | translate}}</h4></label>
              <input type="text" ng-model="form.firstName" class="form-control" name="first_name" id="first_name" placeholder="{{'FIRSTNAMEFIELD' | translate}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <label for="last_name"><h4>{{'LASTNAMEFIELD' | translate}}</h4></label>
              <input type="text" ng-model="form.lastName" class="form-control" name="last_name" id="last_name" placeholder="{{'LASTNAMEFIELD' | translate}}">
            </div>
          </div>

          <div class="form-group {{errors.email.className}}">
            <div class="col-xs-6">
              <label for="email"><h4>{{'EMAILFIELD' | translate}}</h4></label>
              <input type="email" ng-model="form.email" ng-change="onCheckEmail()" class="form-control" name="email" id="email" placeholder="{{'EMAILFIELD' | translate}}"
                uib-tooltip="{{errors.email.messages.join('\n')}}" />
            </div>
          </div>
          <div class="form-group {{errors.email2.className}}">
            <div class="col-xs-6">
              <label for="email"><h4>{{'EMAILVERIFYFIELD' | translate}}</h4></label>
              <input type="email" ng-model="form.email2" ng-change="onCheckEmail()" class="form-control" name="email2" id="email" placeholder="{{'EMAILVERIFYFIELD' | translate}}"
                uib-tooltip="{{errors.email2.messages.join('\n')}}" />
            </div>
          </div>

          <div class="form-group {{errors.password.className}}">
            <div class="col-xs-6">
              <label for="password"><h4>{{'PASSWORDFIELD' | translate}}</h4></label>
              <input type="password" ng-model="form.password" ng-change="onCheckPass()" class="form-control" name="password" id="password" placeholder="{{'PASSWORDFIELD' | translate}}"
                uib-tooltip="{{errors.password.messages.join('\n')}}" />
            </div>
          </div>

          <div class="form-group {{errors.password2.className}}">
            <div class="col-xs-6">
              <label for="password2"><h4>{{'PASSWORDVERIFYFIELD' | translate}}</h4></label>
              <input type="password" ng-model="form.password2" ng-change="onCheckPass()" class="form-control" name="password2" id="password2" placeholder="{{'PASSWORDVERIFYFIELD' | translate}}"
                uib-tooltip="{{errors.password2.messages.join('\n')}}" />
            </div>
          </div>
          <div class="form-group">
             <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success" type="submit" ng-disabled="hideBtn"><i class="glyphicon glyphicon-ok-sign"></i> {{'SAVEBUTTON' | translate}}</button>
                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> {{'RESETBUTTON' | translate}}</button>
              </div>
          </div>
    </form>
    </div>
    <div class="col-lg-4"></div>
</div>
