<div class="container-fluid">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1 class="text-center">{{ 'SIGNINFORM' | translate }}</h1>
      <hr>
        <form class="form-horizontal" ng-action="submit()">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div ng-show="error.message">
              {{error}}
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">{{ 'EMAILFIELD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="{{ 'EMAILFIELD' | translate }}" ng-model="form.email">
                </div>
            </div>
            <div class="form-group">
                <label for="pass" class="col-sm-2 control-label">{{ 'PASSWORDFIELD' | translate }}</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pass" placeholder="{{ 'PASSWORDFIELD' | translate }}" ng-model="form.password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{'REMEMBERME' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submit()">{{'SIGNINBUTTON' | translate}}</button>
                    <a ui-sref="forgotPassword">{{'FORGOTPASSWORDLINK' | translate}}</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>
