<div class="container-fluid">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1 class="text-center">{{'FORGOTPASS' | translate}}</h1>
      <hr>
        <form class="form-horizontal" ng-action="submit()">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">{{'EMAILFIELD' | translate}}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="{{'EMAILFIELD' | translate}}" ng-model="form.email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submit()">{{'SENDMEREQUESTBUTTON' | translate}}</button>
                </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <p>{{'INFOFORGOTPASS' | translate}}</p>
              </div>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>
