
<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

      <ingridient-category-form></ingridient-category-form>

    </div>
    <div class="col-lg-2"></div>
</div>
