<div>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li role="presentation"><a ui-sref="user">View All Bars</a></li>
        <li role="presentation"><a ui-sref="userBarCreate">Create New Bar</a></li>
      </ul>
    </div>
  </div>

  <h1>{{title}}</h1>

  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</uib-alert>

  <form ng-submit="submit()">
    <fieldset>
      <div class="form-group">
        <label for="title"><h4>Title</h4></label>
        <input type="text" id="title" ng-model="form.title" class="form-control" placeholder="Title">
      </div>

      <div class="form-group">
        <label for="description"><h4>Description</h4></label>
        <input type="text" id="description" ng-model="form.description" class="form-control" placeholder="Description">
      </div>

      <div class="form-group">
        <label for="description"><h4>Ingridients</h4></label>
        <ui-select multiple ng-model="form.ingridients" theme="bootstrap" ng-disabled="disabled">
         <ui-select-match placeholder="Select ingridients..." class="ui-select-match">{{$item.title}}</ui-select-match>
         <ui-select-choices repeat="ing in ingridients"
           refresh="getIngridients($select.search)"
           refresh-delay="0" class="ui-select-choices">
           <div ng-bind-html="ing.title | highlight: $select.search"></div>
         </ui-select-choices>
       </ui-select>
      </div>

      <div class="form-group">
        <button class="btn btn-success" type="submit">{{btnLabel}}</button>
      </div>
    </fieldset>
  </form>
</div>
