<div class="container-fluid">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>{{ cocktail.title }} <small><a ui-sref="cocktailEdit({id: cocktail._id})">edit</a></small></h2>
        <p>{{ cocktail.description }}</p>
        <div class="row">
            <img ng-repeat="image in cocktail.images" ng-src="{{image}}" class="img-thumbnail" />
        </div>
        <p><em>Author: {{ cocktail.author.firstName }} {{ cocktail.author.lastName }}</em></p>
    </div>
    <div class="col-lg-2"></div>
</div>
